<div class="row">
  <div class="col-md-12">
    <h3>TriFusion Workshop Schedule</h3>
    <p><em>Sunday, October 8, 2025 | SIGGRAPH Asia 2025 | Hong Kong, China</em></p>
    <p class="text-center"><strong>Full-Day Workshop: Towards Embodied Intelligence Across Humans, Avatars, and Humanoid Robotics</strong></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4>Morning Session (09:00 - 12:30)</h4>
    <table class="table table-striped schedule-table">
      <tr>
        <td>09:00 - 09:15</td>
        <td><strong>Opening & Welcome</strong><br/>
            <em>Workshop Introduction and Objectives</em><br/>
            <small>Organizers: Ping Luo (HKU) & Xiaokang Yang (SJTU)</small>
        </td>
      </tr>
      <tr>
        <td>09:15 - 10:00</td>
        <td><strong>Keynote 1: Bridging Sim-to-Real Gaps</strong><br/>
            <em>Prof. Jingyi Yu (ShanghaiTech University)</em><br/>
            <small>"Computer Vision and VR/AR for Embodied Intelligence"</small>
        </td>
      </tr>
      <tr>
        <td>10:00 - 10:45</td>
        <td><strong>Keynote 2: Avatar-Human Interaction</strong><br/>
            <em>Prof. Ziwei Liu (Nanyang Technological University)</em><br/>
            <small>"Human-Centric AI and Advanced Avatar Technologies"</small>
        </td>
      </tr>
      <tr>
        <td>10:45 - 11:00</td>
        <td><strong>Coffee Break & Networking</strong></td>
      </tr>
      <tr>
        <td>11:00 - 11:45</td>
        <td><strong>Keynote 3: Embodied AI & Robotics</strong><br/>
            <em>Prof. Jiajun Wu (Stanford University)</em><br/>
            <small>"Intelligent Agents and Embodied Learning Systems"</small>
        </td>
      </tr>
      <tr>
        <td>11:45 - 12:30</td>
        <td><strong>Paper Session 1: Human-Avatar Interaction</strong><br/>
            <em>4 Selected Research Presentations (10 min each + Q&A)</em><br/>
            <small>Session Chair: Yao Mu (SJTU)</small>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="col-md-6">
    <h4>Afternoon Session (13:30 - 17:00)</h4>
    <table class="table table-striped schedule-table">
      <tr>
        <td>12:30 - 13:30</td>
        <td><strong>Lunch Break</strong><br/>
            <em>Networking & Poster Session</em>
        </td>
      </tr>
      <tr>
        <td>13:30 - 14:15</td>
        <td><strong>Paper Session 2: Humanoid Robotics</strong><br/>
            <em>4 Selected Research Presentations (10 min each + Q&A)</em><br/>
            <small>Session Chair: Yichao Yan (SJTU)</small>
        </td>
      </tr>
      <tr>
        <td>14:15 - 15:00</td>
        <td><strong>TriFusion Challenge Finals</strong><br/>
            <em>Track 1: Universal Motion Tracking</em><br/>
            <em>Track 2: Visuo-Tactile Simulation</em><br/>
            <small>Competition Results & Awards</small>
        </td>
      </tr>
      <tr>
        <td>15:00 - 15:15</td>
        <td><strong>Coffee Break & Poster Viewing</strong></td>
      </tr>
      <tr>
        <td>15:15 - 16:00</td>
        <td><strong>Interactive Demonstrations</strong><br/>
            <em>Live demos: Avatar-Robot Motion Transfer</em><br/>
            <em>Visuo-Tactile Manipulation Systems</em><br/>
            <small>Hands-on Experience Stations</small>
        </td>
      </tr>
      <tr>
        <td>16:00 - 16:45</td>
        <td><strong>Panel Discussion</strong><br/>
            <em>"Future of Embodied Intelligence: Challenges & Opportunities"</em><br/>
            <small>Keynote speakers + Industry experts</small>
        </td>
      </tr>
      <tr>
        <td>16:45 - 17:00</td>
        <td><strong>Closing Ceremony & Awards</strong><br/>
            <em>Best Paper & Challenge Awards</em><br/>
            <small>Future Directions & Call to Action</small>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Special Activities</h4>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>📝 Call for Papers</h5>
          </div>
          <div class="panel-body">
            <p>Submit your latest research on:</p>
            <ul>
              <li>Embodied Intelligence</li>
              <li>Human-Avatar Interaction</li>
              <li>Humanoid Robotics</li>
              <li>Cross-Modal Transfer Learning</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>🏆 Technical Challenges</h5>
          </div>
          <div class="panel-body">
            <p>Participate in our competitions:</p>
            <ul>
              <li>Universal Motion Tracking</li>
              <li>Visuo-Tactile Simulation</li>
              <li>Sim-to-Real Transfer</li>
              <li>Cross-Domain Learning</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>🤝 Networking</h5>
          </div>
          <div class="panel-body">
            <p>Connect with experts from:</p>
            <ul>
              <li>Top-tier Universities</li>
              <li>Leading Tech Companies</li>
              <li>Research Institutes</li>
              <li>Startup Communities</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 