<div class="row">
  <div class="col-md-12">
    <h3>TriFusion Workshop Schedule (Full Day)</h3>
    <p><em>A comprehensive exploration of embodied intelligence across humans, avatars, and humanoid robotics</em></p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4>Morning Session</h4>
    <table class="table table-striped schedule-table">
      <tr>
        <td>09:00 - 09:15</td>
        <td><strong>Opening & Welcome</strong><br/>
            Workshop Introduction and Objectives
        </td>
      </tr>
      <tr>
        <td>09:15 - 10:00</td>
        <td><strong>Keynote 1</strong><br/>
            <em>Jingyi Yu (ShanghaiTech)</em><br/>
            "Bridging Virtual and Physical Worlds"
        </td>
      </tr>
      <tr>
        <td>10:00 - 10:45</td>
        <td><strong>Keynote 2</strong><br/>
            <em>Ziwei Liu (NTU)</em><br/>
            "Advanced Avatar Technologies"
        </td>
      </tr>
      <tr>
        <td>10:45 - 11:00</td>
        <td><strong>Coffee Break</strong></td>
      </tr>
      <tr>
        <td>11:00 - 11:45</td>
        <td><strong>Keynote 3</strong><br/>
            <em>Jiajun Wu (Stanford)</em><br/>
            "Embodied AI and Robotics"
        </td>
      </tr>
      <tr>
        <td>11:45 - 12:30</td>
        <td><strong>Paper Session 1</strong><br/>
            Selected Research Presentations<br/>
            <em>Human-Avatar Interaction</em>
        </td>
      </tr>
    </table>
  </div>
  
  <div class="col-md-6">
    <h4>Afternoon Session</h4>
    <table class="table table-striped schedule-table">
      <tr>
        <td>13:30 - 14:15</td>
        <td><strong>Paper Session 2</strong><br/>
            Selected Research Presentations<br/>
            <em>Humanoid Robotics & Embodied Intelligence</em>
        </td>
      </tr>
      <tr>
        <td>14:15 - 15:00</td>
        <td><strong>Challenge Competition</strong><br/>
            Technical Challenges Showcase<br/>
            <em>Cross-Domain Transfer Tasks</em>
        </td>
      </tr>
      <tr>
        <td>15:00 - 15:15</td>
        <td><strong>Coffee Break</strong></td>
      </tr>
      <tr>
        <td>15:15 - 16:00</td>
        <td><strong>Interactive Demonstrations</strong><br/>
            Live demos and hands-on experiences<br/>
            <em>Avatar-Robot Interaction</em>
        </td>
      </tr>
      <tr>
        <td>16:00 - 16:45</td>
        <td><strong>Panel Discussion</strong><br/>
            "Future of Embodied Intelligence"<br/>
            <em>All keynote speakers + organizers</em>
        </td>
      </tr>
      <tr>
        <td>16:45 - 17:00</td>
        <td><strong>Closing Remarks</strong><br/>
            Summary and Future Directions
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Special Activities</h4>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>📝 Call for Papers</h5>
          </div>
          <div class="panel-body">
            <p>Submit your latest research on:</p>
            <ul>
              <li>Embodied Intelligence</li>
              <li>Human-Avatar Interaction</li>
              <li>Humanoid Robotics</li>
              <li>Cross-Modal Transfer Learning</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>🏆 Technical Challenges</h5>
          </div>
          <div class="panel-body">
            <p>Participate in our competitions:</p>
            <ul>
              <li>Avatar-to-Robot Transfer</li>
              <li>Real-time Embodiment</li>
              <li>Multi-Modal Interaction</li>
              <li>Cognitive Skill Transfer</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>🤝 Networking</h5>
          </div>
          <div class="panel-body">
            <p>Connect with experts from:</p>
            <ul>
              <li>Top-tier Universities</li>
              <li>Leading Tech Companies</li>
              <li>Research Institutes</li>
              <li>Startup Communities</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 